<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">  
<html xmlns="http://www.w3.org/1999/xhtml">  
  <head>  
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
    <title>To-do List Status Report</title>  
  </head>  
  <body>  
    <h1>To-do list status report</h1>  
    <a href="../entry/new">Neuer Eintrag</a>
{% for list_dict in todo_listing %}  
    <h2>{{ list_dict.list_object.title }} (Nr. {{ list_dict.list_object.id }})</h2>  
    <ul>  
      <li>Number of items: {{ list_dict.item_count }}</li>  
      <li>Diese Woche: {{ list_dict.items_woche }}</li>
      <li>Hoch: {{ list_dict.items_hoch }}</li>
      <li>Mittel: {{ list_dict.items_mittel }}</li>
      <li>Niedrig: {{ list_dict.items_niedrig }}</li>
      <li>Number completed: {{ list_dict.items_complete }} ({{ list_dict.percent_complete }}%)</li>  
    </ul>  
    <table border="1">
    	<tr>
    		<th>Aufgabe</th>
    		<th>Erstellt</th>
    		<th>Prio</th>
    		<th>Fertig</th>
    		<th>Zeitabschätzung</th>
    		<th>Verbleibende Zeit</th>
    		<th></th>
    		<th></th>
    	</tr>
{% for item in list_dict.items %}
		<tr>
			<td {% if item.completed %}bgcolor="#969696"{% endif %}>
				{{ item.title }} (Nr. {{ item.id }})
			</td>
			<td {% if item.completed %}bgcolor="#969696"{% endif %}>
				{{ item.created_date }}
			</td>
			<td  {% if item.completed %}bgcolor="#969696"{% else %}bgcolor="{{ item.priority_color }}"{% endif %}>
				{{ item.priority }}
			</td>
			<td {% if item.completed %}bgcolor="#969696"{% endif %}>
				{% if item.completed %}Ja{% else %}Nein{% endif %}
			</td>
			<td {% if item.completed %}bgcolor="#969696"{% endif %}>
				{{ item.estimation }}
			</td>
			<td {% if item.completed %}bgcolor="#969696"{% endif %}>
				{{ item.remaining_estimation }}
			</td>
			<td {% if item.completed %}bgcolor="#969696"{% endif %}>
				<a href="../entry/{{ item.id }}/edit">Bearbeiten</a>
			</td>
			<td {% if item.completed %}bgcolor="#969696"{% endif %}>
				<a href="../entry/{{ item.id }}/delete">Löschen</a>
			</td>
		</tr>
{% endfor %}
	</table>
{% endfor %}  
  </body>  
</html>
